<% if data[:url].blank? %>
  <p class="tiler-muted">No URL configured.</p>
<% else %>
  <iframe class="tiler-iframe"
          src="<%= data[:url] %>"
          <%= "sandbox=\"#{data[:sandbox]}\"".html_safe if data[:sandbox].present? %>
          loading="lazy"
          referrerpolicy="no-referrer"></iframe>
<% end %>
