<% if data[:src].blank? %>
  <p class="tiler-muted">No URL configured.</p>
<% else %>
  <iframe class="tiler-iframe"
          src="<%= data[:src] %>"
          title="<%= data[:title].presence || data[:src] %>"
          sandbox="<%= data[:sandbox] %>"
          loading="lazy"
          referrerpolicy="no-referrer"></iframe>
<% end %>
