<% if data[:url].blank? %>
  <p class="tiler-muted">No image URL configured.</p>
<% else %>
  <div class="tiler-image-wrap">
    <img class="tiler-image"
         src="<%= data[:url] %>"
         alt="<%= data[:alt] %>"
         style="object-fit: <%= data[:fit] %>;"
         loading="lazy"
         referrerpolicy="no-referrer"
         onerror="this.parentElement.classList.add('tiler-image-broken'); this.remove();">
  </div>
<% end %>
